.btn-section {
  display: flex;
  justify-content: center;
  padding-top: 78px;

  &__btn {
    background-color: $teamCardColor;
    color: $secondaryBlackColor;
    width: 121px;
    height: 38px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62px;
    text-align: center;
    letter-spacing: 0.03em;
    border: 0;
    padding: 10px;
    margin-right: 8px;
  }
}
