.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    padding: 10px;
    flex-basis: calc((100% - 90px) / 4);

    &__item > p:not(:last-child) {
      margin-right: 30px;
    }
    & > h5 {
      color: $secondaryBlackColor;
      font-weight: 700;
      font-size: 14;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
    & > p {
      font-size: 14;
      line-height: 1.71;
      letter-spacing: 0.03em;
    }
  }
  &__icon {
    border-radius: 4px;
    fill: $secondaryBlackColor;
    background-color: $teamCardColor;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
 