.page-footer {
  background-color: $backgroundColor;
  gap: 30px;
  @include desktop{
    gap: 0;
  }
 
  &__section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    @include tablet{
      flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 70px;
    }
    @include desktop{
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0;
    }
   
  }

  &__address {
    color: $whiteColor;
    letter-spacing: 0.03em;

    font-weight: 500;
    font-size: 14;
    line-height: 1.17;
    text-decoration: none;
 
   
  }

  &__contact {
    color: $contactFooterColor;
    font-size: 14;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
  }
  &__text {
    font-weight: 700;
    font-size: 14;
    line-height: 1.17;
    color: $whiteColor;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   padding-top: 40px;
   text-align: center;
   @include tablet{
    padding-top: 65px;
   }
   @include desktop{
    padding: 0;
   }
  
  }

  &__link {
    display: flex;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 60px;
  
    @include desktop{
     
      padding-left: 70px;
      padding-bottom: 0;
      
    }
  }
  &__link > li:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    width: 44px;
    height: 44px;
    background-color: $linkFooterColor;
    border-radius: 50%;
    fill: $whiteColor;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: $defaultTransformDuration;
    transition-timing-function: $transitionTimingFunction;
   
  }
  &__icon:hover,
  &__icon:focus {
    background-color: $blueColor;
  }
  &__adr {
    text-align: center;
    padding-bottom: 10px;

    @include desktop{
      text-align: left;
    }
  }
}
