body {
  font-family: "Roboto" sans-serif;
  color: $greyColor;
}
a {
  transition-property: color;
  transition-duration: $defaultTransformDuration;
  transition-timing-function: $transitionTimingFunction;
}
a:hover,
a:focus
 {
  color: $blueColor;
}
button {
  transition-property: color, background-color;
  transition-duration: $defaultTransformDuration;
  transition-timing-function: $transitionTimingFunction;
}
button:hover,
button:focus {
  color: $whiteColor;
  background-color: $blueColor;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
}
h5{
  margin: 0;
}
p{
  margin: 0;
}

.container {

    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
    @include tablet {
        max-width: 768px;
    }
    @include desktop {
        max-width: 1200px;
    }

  
}
 a{
  text-decoration: none;
}
/*svg{
  transition-property: fill;
  transition-duration: $defaultTransformDuration;
  transition-timing-function: $transitionTimingFunction;
}
 svg:focus,
 svg:hover{
  fill: $blueColor;
 }*/
