body {
  font-family: "Roboto" sans-serif;
  color: $greyColor;
}
a {
  transition-property: color;
  transition-duration: $defaultTransformDuration;
  transition-timing-function: $transitionTimingFunction;
}
a:hover,
a:focus {
  color: $blueColor;
}
button {
  transition-property: color, background-color;
  transition-duration: $defaultTransformDuration;
  transition-timing-function: $transitionTimingFunction;
}
button:hover,
button:focus {
  color: $whiteColor;
  background-color: $blueColor;
  cursor: pointer;
}
ul {
  margin: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding-top: 84px;
  padding-bottom: 68px;
}

