body {
  font-family: "Roboto" sans-serif;
  color: $greyColor;
}

a {
  transition-property: color;
  transition-duration: $defaultTransformDuration;
  transition-timing-function: $transitionTimingFunction;
}
a:hover,
a:focus {
  color: $blueColor;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
}
h5 {
  margin: 0;
}
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding-top: 84px;
  padding-bottom: 68px;
}
a {
  text-decoration: none;
}
