$blackColor: #000000;
$whiteColor: #ffffff;
$secondaryBlackColor: #212121;
$greyColor: #757575;
$blueColor: #2196f3;
$backgroundColor: #2f303a;
$headerBorderColor: #ececec;
$middleCardColor: #e5e5e5;
$teamCardColor: #f5f4fa;
$contactFooterColor: rgba(255, 255, 255, 0.6);
$borderColor: #eeeeee;
$clientLogoColor: #afb1b8;
$linkFooterColor: rgba(255, 255, 255, 0.1);
$imageBackgroundColor: rgba(47, 48, 58, 0.4);
$pictureDescriptionColor: rgba(47, 48, 58, 0.8);
$popupBackgroundColor: rgba(33, 150, 243, 0.9);
$overlayColor: rgba(0, 0, 0, 0.2);
$inputColor: rgba(255, 255, 255, 0.3);
$placeholderColor: rgba(117, 117, 117, 0.5);
$labelColor: rgba(33, 33, 33, 0.2);
$borderFormColor: rgba(0, 0, 0, 0.1);
$defaultTransformDuration: 250ms;
$transitionTimingFunction:cubic-bezier(0.4, 0, 0.2, 1);